@use 'base/mixins' as m;
@use 'base/variables' as v;

.planes{
    background-color: v.$secundario;
    h2{
        @include m.headingBorder(v.$blanco, v.$primario);
    }
    .descripcion{
        color: v.$blanco;
    }
}

.nuestros-planes{
    display: flex;
    flex-direction: column;

    @include m.tablet { 
        flex-direction: row;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;//margin arriba
    }
    .plan{
        flex-grow: 1;
        background-color: v.$blanco;
        padding: 16rem 4rem 4rem 4rem;
        border-bottom: 1px solid #e1e1e1;

        @include m.tablet { 
            border: none;
            transition-property: transform;
            transition-duration: 300ms;

            &:hover{
                transform: scale(1.1);
            }
        }

        .precio{
            font-size: 1.8rem;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        .listado{
            li{
                text-align: center;
                margin-bottom: 2rem;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }

        &.inicio{
            @include m.iconoBg('../img/icono_inicio.svg');
        }

        &.negocio{
            background-color: v.$primario;
            order: -1;//ordenamos para que se muestra primero en las columnas
            @include m.iconoBg('../img/icono_negocio.svg');


            @include m.tablet { 
                order: unset;
                margin-block: -5rem;//arriba y abajo es igual que decir margin-top y margin-bottom
                border-radius: 2rem;
                background-position: 50% 7rem;
                padding-top: calc(16rem + 5rem);
                z-index: 100; //indica que este elemento va a estar por encima de los otros dos y no se sobrepone
            }
        }

        &.pro{
            @include m.iconoBg('../img/icono_pro.svg');
        }
    }
}